:root {
  --font-all: "Zen Kaku Gothic Antique","Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;

  --color-black: #333;
  --color-white: #fff;
  --color-gray: #e3e3e3;
}